
/*========HOME PAGE==========*/
#hmsoldier img {
	width: 300px;
}

.homelink {
	border-bottom: 3px solid #ffffff;
	height: 130px;
}

#hmdiscover {
	background-color: rgb(232, 73, 91);
	text-align: center;
}

#hmdiscover img {
	width: 70px;
}

#hmmaps {
	background-color: rgb(232, 145, 66);
	text-align: center;
}

#hmmaps img {
	width: 70px;
}

#hmawm {
	background-color: rgb(0, 70, 128);
}

#hmawm img {
	width: 177px;
}

/*========NAVIGATION==========*/

.navbanner {
	background-color: rgb(0, 34, 62);
	padding: 10px;
}

.navbanner h6 {
	text-align: center;
	margin-bottom: 0;
}

.navbanner img {
	width: 30px;
}

.backarrow {
	float: left;
}

.homeicon {
	float: right;
}


/*========DISCOVER HOME PAGE==========*/


#discoverinfo {
	background-color: rgb(0, 34, 62);
	padding: 20px;
	margin-bottom: 3px;
}

#seclist img {
	width: 40px;
	float: right;
}

.secblue {
	background-color: rgb(40, 123, 210);
	padding: 10px;
	line-height: 2em;
}

.secgreen {
	background-color: rgb(48, 180, 74);
	padding: 10px;
	line-height: 2em;
}

.secpurple {
	background-color: rgb(91, 85, 164);
	padding: 10px;
	line-height: 2em;
}

.secorange {
	background-color: rgb(232, 145, 66);
	padding: 10px;
	line-height: 2em;
}

.secpink {
	background-color: rgb(232, 73, 91);
	padding: 10px;
	line-height: 2em;
}

/*========DISCOVER SECTIONS==========*/

#aircrafthall {
	background-color: rgb(40, 123, 210);
}

#aircrafthall h1 {
	text-align: center;
	padding: 10px;
}

.dispic {
	width: 90%;
	padding: 0 5% 5% 5%;
}

.discovinfo {
	background-color: rgb(0, 34, 62);
	padding: 20px;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

.mission {
	padding: 20px;
}

.answers ul {
	list-style-type: none;
}

/*========MODALS==========*/
.correctanswer {
	display: none;
}

.wronganswer {
	display: none;
}

/*========MAPS PAGE==========*/

#mgmap {
	background-color: rgb(40, 123, 210);
}

#mgmap img {
	width: 90%;
	padding: 0 5% 5% 5%;
}
	

#glmap {
	background-color: rgb(48, 180, 74);
}

#glmap img {
	width: 90%;
	padding: 0 5% 5% 5%;
}

#ufmap {
	background-color: rgb(91, 85, 164);
}

#ufmap img {
	width: 90%;
	padding: 0 5% 5% 5%;
}

#llmap {
	background-color: rgb(232, 145, 66);
}

#llmap img {
	width: 90%;
	padding: 0 5% 5% 5%;
}

#mgmap h2, #glmap h2, #ufmap h2, #llmap h2 {
	text-align: center;
	padding:  10px 10px 0 10px;
}