

/*========GENERAL STYLES==========*/

.container {
	width: 100%;
	padding: 0!important;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.3em;
}

ul, ol {
	list-style-type: none;
}

h1, h2, h3, h4 {
	font-family: "Stardos Stencil";
	text-transform: uppercase;
	text-align: center;
}

h5 {
	text-align: left;
}

.hidden {
	display: none;
}

/*========HOME PAGE==========*/


#hmsoldier img {
	width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
}

.homelink {
	border-bottom: 3px solid #ffffff;
	height: 130px;
}

#hmdiscover  {
	background-color: rgb(232, 73, 91);
	text-align: center;
}

#hmdiscover:hover, .ah-pink:hover {
	background-color: rgba(249, 88, 107, 1);
}

#hmdiscover img {
	width: 70px;
}

#hmmaps {
	background-color: rgb(232, 145, 66);
	text-align: center;
}

#hmmaps:hover,
.hov-orange:hover, 
.sg-orange:hover {
	background-color: rgba(249, 165, 87, 1);
}

#hmmaps img {
	width: 70px;
}

#hmawm {
	background-color: rgb(0, 70, 128);
}

#hmawm:hover {
	background-color: rgba(11, 97, 167, 1);
}

#hmawm img {
	width: 177px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*========NAVIGATION==========*/

.navbanner {
	background-color: rgb(0, 34, 62);
	padding: 10px;
}

.navbanner a {
	color: #fff;
}

.navbanner h6 {
	text-align: center;
	margin-bottom: 0;
	font-size: 1.4em;
}

.navbanner img {
	width: 30px;
}

.backarrow {
	float: left;
}

.homeicon {
	float: right;
}


/*========DISCOVER HOME PAGE==========*/


#discoverinfo {
	background-color: rgb(0, 34, 62);
	padding: 20px;
	border-bottom: 3px solid #fff;
}

#seclist h4 {
	padding: 30px;
	display: inline-block;
}

.disc-list {
	border-bottom: 3px solid #fff;
}

.disc-list img {
	width: 40px;
	float: right;
	margin: 25px 20px 0 0;
}

.ah-blue, .hom-blue {
	background-color: rgb(40, 123, 210);
	line-height: 2em;
}

.ah-blue:hover, .hom-blue:hover {
	background-color: rgba(43, 142, 249, 1);
}

.fww-green, .con-green {
	background-color: rgb(48, 180, 74);
	line-height: 2em;
}

.fww-green:hover, .con-green:hover {
	background-color: rgba(53, 206, 83, 1);
}

.sww-purple, mg-purple {
	background-color: rgb(91, 85, 164);
	line-height: 2em;
}

.sww-purple:hover, mg-purple:hover {
	background-color: rgba(117, 107, 222, 1);
}

.hov-orange, .sg-orange {
	background-color: rgb(232, 145, 66);
	line-height: 2em;
}

.ah-pink {
	background-color: rgb(232, 73, 91);
	line-height: 2em;
}



/*========DISCOVER SECTIONS==========*/

#aircrafthall, #firstworldwar, #secondworldwar, 
#hallofvalour, #anzachall, #hallofmemory, 
#conflicts45today, #memorialgrounds, #sculpturegarden {
	display: none;
}

#aircrafthall, #hallofmemory {
	background-color: rgb(40, 123, 210);
}

#firstworldwar, #conflicts45today {
	background-color:rgb(48, 180, 74);
}

#secondworldwar, #memorialgrounds {
	background-color:rgb(91, 85, 164);
}

#hallofvalour, #sculpturegarden {
	background-color:rgb(232, 145, 66);
}

#anzachall {
	background-color: rgb(232, 73, 91);
}

h1 {
	text-align: center;
	padding: 10px;
}

.dispic {
	max-width: 90%;
	margin: 5%;
	border: 3px solid #fff
}
	
.discovinfo {
	background-color: rgb(0, 34, 62);
	padding: 20px;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

.mission {
	padding: 20px;
	border-bottom: 3px solid #ffffff;
}

button.check-answer  {
	margin-top: 60px;
	background-color: rgb(0, 34, 62);
	border: 1.5px solid #ffffff;
	height: 50px;
	margin-bottom: 4em;
	width: 100%;
}

button.check-answer:hover {
	background-color: rgb(40, 123, 210);
	-webkit-transition: all 0.25s linear;
	color: #fff;
	border-color: #fff;
}

button.check-answer  {
	font-family: "Stardos Stencil";
	text-transform: uppercase;
	font-size: 2em;
	color: #fff;
	padding-top: 5px;
}

.answered {
	display: none;
}


/*========RADIO BUTTON STYLES==========*/
/*http://codepen.io/AngelaVelasquez/pen/Eypnq*/


.answer-choices ul {
	list-style-type: none;
	margin-top: -30px;
}

.answer-choices ul li { 
	color: white;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
}

.answer-choices ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.answer-choices ul li label {
	font-size: 1.3em;
	display: block;
	position: relative;
	padding: 15px 20px 20px 60px;
	margin: 10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.answer-choices ul li:hover label {
	color: rgb(0, 34, 62);
}

.answer-choices ul li .check {
	display: block;
	position: absolute;
	border: 3px solid #ffffff;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 30px;
	left: 15px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.answer-choices ul li:hover .check {
	border: 3px solid rgb(0, 34, 62);
}

.answer-choices ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 5px;
	width: 5px;
	top: 5px;
	left: 5px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.answer-choices input[type=radio]:checked ~ .check {
	border: 3px solid rgb(0, 34, 62);
}

.answer-choices input[type=radio]:checked ~ .check::before {
	background: rgb(0, 34, 62);
}

.answer-choices input[type=radio]:checked ~ label {
	color: rgb(0, 34, 62);
}

/*========MODALS==========*/

.correctAnswer {
	display: none;
}

/*add class if we need it?*/
.alert-correct {
	background-image: url('images/modal-background.png');
}

.sweet-content {
	color: #575757;
}

.sweet-alert button {
	background-color: rgb(0, 34, 62)!important;
	color: #fff;
	font-family: "Stardos Stencil";
	padding-top: 2px!important;
	border-radius: 2px;
}

.sweet-alert .sweet-image {
	width: 100px;
}



/*========MAPS PAGE==========*/

#mgmap {
	background-color: rgb(40, 123, 210);
	display: none;
}
	

#glmap {
	background-color: rgb(48, 180, 74);
	display: none;
}

#ufmap {
	background-color: rgb(91, 85, 164);
	display: none;
}


#llmap {
	background-color: rgb(232, 145, 66);
	display: none;
}

#mgmap img, #llmap img, #ufmap img, #glmap img {
	width: 90%;
	padding: 5%;
}

#mgmap h2, #glmap h2, #ufmap h2, #llmap h2 {
	text-align: center;
	padding:  10px 10px 0 10px;
}

#maplist h4 {
	padding: 30px;
}

#maplist img {
	padding-top: 30px;
}

.map-blue {
	background-color: rgb(40, 123, 210);
}

.map-blue {
	background-color: rgb(40, 123, 210);
}

.map-purple {
	background-color: rgb(91, 85, 164);
}

.map-orange {
	background-color: rgb(232, 145, 66);
}

.map-green {
	background-color: rgb(48, 180, 74);
}

/* Add arrow to close open map or section */
.map.open, .disc-list.open {
	background-image: url('../icons/chevron.png');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 90%;
}


/*========MEDIA QUERIES==========*/

@media (max-width: 414px) {
	/*Wrap menu item text for discover section on mobile*/
	#seclist h4 {
		word-wrap: break-word;
		width: 60%;
		text-align: left;
		}
	/*Fix overlapping text when wrapping on mobile*/
	.answer-choices ul li label {
		line-height: 1;
		}
	.answer-choices ul li {
		margin-bottom: 20px;
	}
}

@media (min-width: 600px) {
	
	.container {
		max-width: 615px;
		margin: 4em auto;
	}
	
	/*------HOME PAGE---------*/
	
	#homepage {
		width: 620px;
		margin: 0 auto;
	}
	
	#hmsoldier,
	#hmdiscover,
	#hmmaps,
	#hmawm {
		width: 300px;
		display: inline-block;
		height: 300px;
		border: solid #fff 5px;
	}
	
	#hmsoldier,
	#hmawm {
		float: left;
	}
	
	#hmdiscover,
	#hmmaps {
		float: right;
	}

	#hmsoldier img {
		background-color: #d8d8d8;
		padding: 0;
	}
	
	.homelink img {
		padding-top: 38%;
	}
	
	#hmawm img {
	margin-top: 5px;
	}
	
	
	
	/*------MAPS PAGE---------*/
	
	.navbanner {
		border-bottom: solid #fff 5px;
		margin-right: 5px;
	}
	
	.map {
		width: 300px;
		height: 300px;
		border: solid #fff 5px;
	}
	
	
	#maplist {
		display: flex;
		flex-wrap: wrap; 
		display: -ms-flexbox;
		display: -webkit-flex;
		width: 620px;
		margin-left: -5px;
	}
	
	#maplist h4 {
		text-align: center;
		padding-top: 40%;
	}
	
	#mgmap, #glmap, #ufmap, #llmap {
		margin: 5px;
	}
	
	/*------DISCOVER MENU PAGE---------*/

	
	.disc-list {
		width: 300px;
		height: 300px;
		border: 5px solid #fff;	
	}
	
	
	#seclist {
		width: 620px;
		display: flex;
		flex-wrap: wrap;
		display: -ms-flexbox;
		display: -webkit-flex;
		margin-left: -5px;
	} 
	
	#seclist h4 {
		padding-top: 35%;
		padding-left:20px;	
		padding-right: 20px;
		display: block;
	}
	
	.disc-list img {
		margin-right: 44%;
		margin-top: -20px;	
	}	
	
	#discoverinfo {
		padding: 0;
		width: 300px;
		height: 300px;
	}
	
	#discoverinfo p {
		padding: 20px;
	}
	
	#aircrafthall, #firstworldwar, #secondworldwar, #hallofvalour,
	#anzachall, #hallofmemory, #conflicts45today, #memorialgrounds,
	#sculpturegarden {
	border: solid #fff 5px;
	}	
	
	
}
