
/*========HOME PAGE==========*/
.homelink {
	border-bottom: 3px solid #ffffff;
	height: 130px;
}

#hmdiscover {
	background-color: rgb(232, 73, 91);
}

#hmmaps {
	background-color: rgb(232, 145, 66);
}

#hmawm {
	background-color: rgb(0, 70, 128);
}


/*========DISCOVER HOME PAGE==========*/

#discover {
	background-color: rgb(0, 34, 62);
}

.secblue {
	background-color: rgb(40, 123, 210);
}

.secgreen {
	background-color: rgb(48, 180, 74);
}

.secpurple {
	background-color: rgb(91, 85, 164);
}

.secorange {
	background-color: rgb(232, 145, 66);
}

.secpink {
	background-color: rgb(232, 73, 91);
}

/*========DISCOVER SECTIONS==========*/

#aircrafthall {
	background-color: rgb(40, 123, 210);
}

.discovinfo {
	background-color: rgb(0, 34, 62);
	padding: 20px;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

.answers ul {
	list-style-type: none;
}

/*========MAPS PAGE==========*/

#maps {
	background-color: rgb(0, 34, 62);
}

